
.bio-section {
  background-color:rgb(24, 73, 53);
  color: white;
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: 'Gloria Hallelujah', cursive;
}
h2.title.has-text-centered{
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
  margin-top: 24px;
}
h4.title.is-4{
    color: white;
    margin: 10px 5px 0px 0px;
    font-family: 'Gloria Hallelujah', cursive;
  }
.bio-columns {
  display: flex;
  justify-content: center;
  background-color: rgb(9, 52, 17);
  width: 600px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  .image {
    margin: 15px;
    padding: 0;
  }
  .p {
    margin: 0;
  }
  .hr {
    margin: 0
  }
}
