.section{
  background-color: rgb(24, 73, 53);
  
}
.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap
}
.card {
  background-color: rgb(9, 52, 17);
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  border-radius: 10px;
}
.image {
    padding-left: 10px;
    padding-right: 10px;
  }
h4.card-header-title {
  color: white;
  font-size: 20px;
  font-family: 'Gloria Hallelujah', cursive;
}
.page-top-div{
display: flex;
justify-content: center;
}

.page-bottom-div {
  display: flex;
  justify-content: center;
}

.page-bottom {
  display: flex;
  justify-content: center;
  width: 400px;
  align-items: center;
}

.page-top {
  display: flex;
  justify-content: center;
  width: 400px;
  align-items: center;
}

button {
  background-color: rgba(48, 215, 19, 0);
  font-size: large;
  width: 60px;
  font-weight: bold;
  border: 2px rgba(0, 128, 0, 0) solid;
  color: rgb(9, 87, 0);
}

.inc {
  position: absolute;
  margin-left: 190px;
  height: 60px;
  margin-bottom: 12px;
  font-size: 40px;
}

.dec {
  position: absolute;
  margin-right: 190px;
  height: 60px;
  margin-top: 2px;
  font-size: 40px;
  rotate: 180deg;
}

.page-num {
font-size: large;
color: white;
margin-left: 5px;
margin-right: 5px; 
width:85px;
margin:20px;
font-weight: bold;
}

.portalimg {
height: 70px;
}