.episode-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap
} 
.episode-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  flex-wrap: wrap;
  text-align: center;
  max-height: 325px
}
.episode-header {
  color: rgba(255, 255, 255, 0.681);
  margin: 5px;
  font-size: 20px;
}
.episode-air-date {
  color: rgba(255, 255, 255, 0.681);
  margin-top: 5px
}
.episode-info {
  font-size: 16px;
  font-weight: 600;
}
