.hero-body {
  background-color: black;
  background-image: url('/../src/images/Rick_and_Morty_title_card_\(cropped\).png');
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
  background-position: top;
}

