.navbar {
  background-color: rgb(169, 211, 233);
}

.navbar-container {
  background-color: rgb(210, 201, 184);
  font-weight: bold;
}

.navbar-item {
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
}