.navbar {
  background-image: url(../images/3.png);
  background-repeat: no-repeat;
  background-position-x: center;
}

.navbar-container {
  background-color: rgb(169, 211, 233);
  font-weight: bold;
}

.navbar-item {
  color: rgb(0, 0, 0);
  font-family: 'Gloria Hallelujah', cursive;
}